{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('pokemon_liste') }}">
        <div id="pokemon">
            <img src="{{ asset('img/pokemon/pokemon_logo.svg.png') }}">
        </div>
        <h1>
            [ Attraper les tous ]
        </h1>
    </a>
{% endblock %}

{% block title %}

{% endblock %}

{% block filariane %}

{% endblock %}

